Water Agent Telegram.json
{
  "name": "Water Agent Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -64
      ],
      "id": "2ea2431d-0734-4639-8481-096a23fff355",
      "name": "Telegram Trigger",
      "webhookId": "bb71dde8-5598-47a9-80c0-5b2b07056e73",
      "credentials": {
        "telegramApi": {
          "id": "kZoBvmjlQ2Ih5u5L",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82888751-d5cc-4831-96ae-216ffd934fe2",
              "name": "telefone",
              "value": "912345678",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -64
      ],
      "id": "0bbfb287-2a3c-43a1-a89a-e3150548d2e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5001/api/whatsapp",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -64
      ],
      "id": "190e3004-334b-4092-9e46-8589f34ad876",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.resposta_whatsapp }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -64
      ],
      "id": "c91b3737-cdec-423d-94ea-88d756b04e5b",
      "name": "Send a text message",
      "webhookId": "e9dd4d2f-bdfe-4468-9d14-9f7ecab3bf17",
      "credentials": {
        "telegramApi": {
          "id": "kZoBvmjlQ2Ih5u5L",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "66213e9c-0cd7-4f84-bc35-9b646863ef4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "421678278a6d6ea069e15861575d8607aca4d940ad629c47a2e6643cc2a07d7c"
  },
  "id": "I443FrMGSOMwFeN2",
  "tags": []
}